#containerFive{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #5d7597, #020617);
    color: whitesmoke;
    border: 4px solid black;  
    border-radius: 25px;    
    width: 1000px;
    margin: auto;
    font-family: "Fira Sans", serif, arial;
    letter-spacing: 2px;
    
}
.boxFive{
    background-color: whitesmoke;
    color: #020617;
    justify-items: center;
    border: 2px solid black;
    border-radius: 10%;
    width: 160px;
    height: 140px;
    margin: 0px 15px;
  
}

.boxFive > h3{
    margin-top: 10px;
}

#containerFive > h2{
    margin: 15px 200px;
    text-shadow: 2px 2px black;
}

.boxFive > img{
    width: 90px;
}
.api{
    width: 280px;
}

@media (max-width: 500px){
    #containerFive{
        width: 280px;
        flex-direction: row;
        margin-left: 13%;
        height: 600px;
    }
    .boxFive{
        margin: -10px 5px;
        width: 80px;
        height: 65px;
    }
    #containerFive > h2{
        font-size: 18px;
        margin: 10px 0px -26px 45px;
    }
    .boxFive > h3{
        margin: 2px 0px 4px;
        font-size: 12px;
    }
    .RC{
        height: 90px;
    }
    .RC > h3{
        margin-left: 10px;
    }
    .boxFive > img{
        width: 40px;
    }
    #top > a > img{
        height: 65px;
        width: 70px;
    }
     #containerFive > #top {
        margin-top: 2px;
        height: 70px;
        width: 75px;
    }
    #top > p{
        width: 100px;
        
        
    }
    footer{
        height: 20px;
        width: auto;
    }
}