@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjalla+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#containerTwo{
    display: flex;
    justify-content: center;
}
.boxTwo{
    margin: 100px 60px;
}
.boxTwo > img{
    width: 400px;
    border-radius: 5px;
    border: 2px solid #9e7decc0;
    box-shadow: 5px 4px 6px #50072475;
}
.boxTwo > h1{
    font-family: "Fira Sans", serif;
    margin-bottom: 16px;
}
.boxTwo > p{
    width: 900px;
    line-height: 28px;
    font-family: "Public Sans", arial;
    font-size: 18px;
 
}

.boxTwo > p:hover{
    cursor: zoom-in;
    font-size: 22px;
    scale: 1;
    transition: 0.6s;
}

/*DARKTHEME*/
#containerTwo.darkColor{
    color: white;
}
.boxTwo.darkImg > img{
    border: 2px solid #97deff;
    box-shadow: 5px 4px 6px #34d39962;
    
}

@media (max-width: 500px) {
    #containerTwo{
        display: flex;
        flex-direction: column-reverse;
       
        width: 412px;
    }
    .boxTwo{
        justify-items: center;
        margin: 10px;
        margin-left: -10px;
    }
    .boxTwo > h1{
        font-size: 35px;
    }
    .boxTwo > p{
        display: none;
    }
    .historyMobile > p{
        line-height: 24px;
        font-family: "Public Sans", arial;
        font-size: 16px;
        margin-left: 30px;
        width: 370px;
    }
    .historyMobile > button{
        margin-top: 12px;
        margin-left: 160px;
        background-color:  #2e1065;
        color: white;
        padding: 4px;
        border-radius: 6px;
        border: 3px solid rgba(182, 115, 115, 0.995);
        box-shadow: 2px 1px 4px black;
        font-weight: bold;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .historyMobile > .darkButton{
        background-color: #e4f5fc;
        border: 3px solid rgb(111, 224, 255);
        box-shadow: 3px 2px 6px rgb(52, 52, 210);
        color: black;
        transition: 0.5s;
    }

    .boxTwo > img{
        display: none;
    }

    .ModalMoreRead{
        display: none;
        font-family: "Public Sans", arial;
        color: whitesmoke;
        line-height: 26px;
        font-size: 16px;
        margin-left: 30px;
        text-align: center;
        width: 370px;
        padding: 7px;
        position: fixed;
        top: 40%;
        left: 43%;
        transform: translate(-50%, -50%);
        border: 2px solid whitesmoke;
        border-radius: 7px;
        background-color: #06272d;
        box-shadow: 4px 5px 8px black;
    }
    .ModalMoreRead > .close{
        background-color: red;
        color: whitesmoke;
        font-weight: bold;
        padding: 6px;
        border-radius: 10px;
        width: 40px;
        margin-right: 80%;
        margin-bottom: 10px;
    }

    
}

